header{
}


body {

  background-color: #263d36;
  background-image: url("potato1.jpg"), url("potato2.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
transition: background-image 3s;

  background-image: url("potato2.jpg");
  background-position: center top;
  background-repeat: repeat;
  background-size: cover;

  line-height: 1.2;
  padding: 10vw 2em;

  margin: 0 auto;
  max-width: 50em;
    font-family: ("Space_mono");

      line-height: 1;
      padding: 4em 1em;
        color: blue;
}

h1 {

  text-align: left;
  font-size: 222px;
  font-family: ("ariel");

:hover
  margin-top: 1em;
  padding-top: 1em;
        color: #CBF9FF;
}

#first{
  display: flex;
  flex-direction: row;

}


.div2{
  display: flex;
  grid-column-start: 3;
  }
.div2:hover{
  	transition: 0.2s;
    font-size: 500px;
  }

}

.p1{font-size: 500px}

.p3{
  font-size: 100px;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

a {
  color: #e81c4f;
}
